html {
    height: 100vh;
    width: 100vw;
    background-color: lightgrey;
}

#stage {
    background-color: slategray;
    width: 60vw;
    height: 10vh;
    text-align: center;
    margin: auto;
    font-size: 7vh;
}

#legend-container {
    display: flex;
    justify-content: center;
}

.legend-item {
    display: flex;
    margin: 1.5%;
}

#legend-available-color {
    background-color: cornflowerblue;
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

#legend-unavailable-color {
    background-color: red;
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

#legend-selected-color {
    background-color: yellow;
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

main {
    padding-top: 10px;
}
#GA {
    height: 10vh;
    background-color: cornflowerblue;
    width: 80vw;
    text-align: center;
    margin: auto;
    padding-top: 5%;
}

#GA:hover {
    background-color: darkblue;
}

#seat-container {
    height: 58vh;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    height: 5vh;
    margin: auto;
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

.available-seat {
    height: 4vh;
    width: 4vw;
    background-color: cornflowerblue;
    margin: auto;
    text-align: center;
    padding-top: 1%;
}

.available-seat:hover {
    background-color: darkblue;
}

.unavailable-seat {
    background-color: red;
    height: 4vh;
    width: 4vw;
    margin: auto;
    text-align: center;
    padding-top: 1%;
}

#form-container {
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: space-evenly;
}

.input-display {
    background-color: azure;
    height: 10vh;
    width: 30vw;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}
